.photo_container .photo_left {
	width: 60%;
	text-align: center;
}

.photo_container .photo_right {
	width: 40%;
}

.photo_container .photo_left, .photo_container .photo_right {
	float: left;
}

.photo_container .photo_left img {
	width: auto;
}

.photo_container .photo_right .description {
	margin-left: 30px;
	text-align: center;
}

.photo_container .photo_right .description span.info {
	display: block;
}

.photo_container .photo_right .description span.title {
	font-size: 17px;
}

.photo_container .photo_likes {
	width: fit-content;
	margin: 0 auto;
	position: relative;
}

.photo_container .photo_likes .total_likes {
	position: absolute;
	top: 1px;
	left: 7px;
	font-size: 12px;
	background: url('../img/hearth.png') 0 0;
	width: 22px;
	height: 20px;
	line-height: 20px;
	color: black;
}

.photo_container .photo_likes.like .total_likes {
	background-position: 22px 0px;
	color: blue;
}

.photo_container .url_likes:hover {
	cursor: pointer;
}

.photo_container .photo_comments {
	display: block;
	width: 282px;
	margin: 30px auto;
	max-height: 400px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 7px;
	width: 100%;
}

.comment {
	background: #fff8c4;
	padding: 9px 14px;
	border-radius: 6px;
	border: 1px solid #ffe942;
	margin-top: 10px;
}

.photo_container .add_new_comment {
	margin-top: 10px;
}

.photo_container .add_new_comment textarea {
	border-radius: 5px;
	min-height: auto;
	height: 86px;
	margin-bottom: 5px;
}


.overlay a .over span:after {
	background: transparent;
	content: 'View photo';
	left: -21px;
	top: 12px;
	width: 200px;
	color: white;
}

.overlay a .over span {
	background: transparent;
}

.random_photos {
	display: block;
	clear: both;
	overflow: auto;
	padding-top: 20px;
}

.user_profile .cover_image img {
	width: 100%;
	max-height: 300px;
}

.user_profile.user_profile_content {
	position: relative;
	top: -100px;
}

.user_profile .avatar img{
	max-height: 200px;
	max-width: 200px;
}

.user_profile .avatar {
	position: absolute;
}

.user_profile .custom_row {
	position: relative;
	top: 115px;
	left: 220px;
	width: 94%;
}

.user_profile .custom_row .user_name span {
	font-size: 20px;
}

.user_profile .total_followers span, .user_profile .total_pictures span {
	font-size: 17px;
	text-transform: uppercase;
}

.user_profile .total_followers span {
	color: #00a6f5;
}

.user_profile .total_pictures span {
	color: #f59300;
}

.user_profile .story .title {
	font-size: 22px;
}

.user_profile .story .description {
	font-size: 14px;
	margin-top: 10px;
}

.user_profile .story {
	text-align: center;
}

.user_profile .fix_margin {
	margin-top: 200px;
}

.user_profile .left_content {
	position: relative;
	top: 6px;
	left: -99%;
	width: 132%;
}

.user_profile .follow-btn {
	width: 70%;
	margin: 0 auto;
	display: block;
}

.user_profile .comments {
	margin-top: 10px;
}

.user_profile .comments h4 {
	text-transform: uppercase;
}

.user_profile .add_new_comment textarea {
	min-height: 83px;
	margin-top: 20px;
}